<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ET_Calculator_streamlined_v11_GIT.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <userSettings>
    <ET_Calculator_streamlined_v11_GIT.MySettings>
      <setting name="tbx_csv1_settings" serializeAs="String">
        <value />
      </setting>
      <setting name="KC_MS_file_path_settings" serializeAs="String">
        <value />
      </setting>
      <setting name="tbx_EB_MS_settings" serializeAs="String">
        <value />
      </setting>
      <setting name="tbx_EB_Thermal_settings" serializeAs="String">
        <value />
      </setting>
      <setting name="tbxSoilDepth_1_settings" serializeAs="String">
        <value />
      </setting>
      <setting name="tbxSoilDepth_2_settings" serializeAs="String">
        <value />
      </setting>
      <setting name="tbxSoilDepth_3_settings" serializeAs="String">
        <value />
      </setting>
      <setting name="tbxSoilDepth_4_settings" serializeAs="String">
        <value />
      </setting>
      <setting name="tbxSoilDepth_5_settings" serializeAs="String">
        <value />
      </setting>
      <setting name="tbxTAW_1_settings" serializeAs="String">
        <value />
      </setting>
      <setting name="tbxTAW_2_settings" serializeAs="String">
        <value />
      </setting>
      <setting name="tbxTAW_3_settings" serializeAs="String">
        <value />
      </setting>
      <setting name="tbxTAW_4_settings" serializeAs="String">
        <value />
      </setting>
      <setting name="tbxTAW_5_settings" serializeAs="String">
        <value />
      </setting>
      <setting name="tbxMinRootDepth_settings" serializeAs="String">
        <value />
      </setting>
      <setting name="tbxMaxRootDepth_settings" serializeAs="String">
        <value />
      </setting>
      <setting name="PlantDate_settings" serializeAs="String">
        <value />
      </setting>
      <setting name="HarvestDate_settings" serializeAs="String">
        <value />
      </setting>
    </ET_Calculator_streamlined_v11_GIT.MySettings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"></assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="SIDSS_Entities" connectionString="metadata=res://*/SQLite_SIDSS_Model.csdl|res://*/SQLite_SIDSS_Model.ssdl|res://*/SQLite_SIDSS_Model.msl;provider=System.Data.SQLite.EF6;provider connection string='data source=&quot;F:\OneDrive - Colostate\SIDSS_GUI\ET_Calculator_streamlined_v11_GIT\bin\Debug\SIDSS_Entity_database.db&quot;'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>