<?xml version="1.0" encoding="utf-8"?>
<configuration>

    
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="ET_Calculator_streamlined_v11_GIT.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
    <userSettings>
        <ET_Calculator_streamlined_v11_GIT.MySettings>
            <setting name="tbx_csv1_settings" serializeAs="String">
                <value />
            </setting>
            <setting name="KC_MS_file_path_settings" serializeAs="String">
                <value />
            </setting>
            <setting name="tbx_EB_MS_settings" serializeAs="String">
                <value />
            </setting>
            <setting name="tbx_EB_Thermal_settings" serializeAs="String">
                <value />
            </setting>
            <setting name="tbxSoilDepth_1_settings" serializeAs="String">
                <value />
            </setting>
            <setting name="tbxSoilDepth_2_settings" serializeAs="String">
                <value />
            </setting>
            <setting name="tbxSoilDepth_3_settings" serializeAs="String">
                <value />
            </setting>
            <setting name="tbxSoilDepth_4_settings" serializeAs="String">
                <value />
            </setting>
            <setting name="tbxSoilDepth_5_settings" serializeAs="String">
                <value />
            </setting>
            <setting name="tbxTAW_1_settings" serializeAs="String">
                <value />
            </setting>
            <setting name="tbxTAW_2_settings" serializeAs="String">
                <value />
            </setting>
            <setting name="tbxTAW_3_settings" serializeAs="String">
                <value />
            </setting>
            <setting name="tbxTAW_4_settings" serializeAs="String">
                <value />
            </setting>
            <setting name="tbxTAW_5_settings" serializeAs="String">
                <value />
            </setting>
            <setting name="tbxMinRootDepth_settings" serializeAs="String">
                <value />
            </setting>
            <setting name="tbxMaxRootDepth_settings" serializeAs="String">
                <value />
            </setting>
            <setting name="PlantDate_settings" serializeAs="String">
                <value />
            </setting>
            <setting name="HarvestDate_settings" serializeAs="String">
                <value />
            </setting>
        </ET_Calculator_streamlined_v11_GIT.MySettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

    </assemblyBinding>
  </runtime>
</configuration>
